include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include requirements.txt

recursive-include docs/source *
include docs/Makefile docs/make.bat
recursive-include intake_esm *.yaml
recursive-include intake_esm *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
prune tests*
prune ci*
