name: intake-esm-dev
channels:
  - conda-forge
  - nodefaults
dependencies:
  - cftime
  - codecov
  - fastprogress>=1.0.0
  - fsspec>=2022.11.0
  - gcsfs >=2022.11.0
  - h5netcdf>=0.8.1
  - intake>=2.0
  - ipython
  - matplotlib
  - netcdf4>=1.5.5
  - pandas>=2.1.0
  - pip
  - pooch
  - pre-commit
  - pydantic>=2.0
  - pydap
  - pytest
  - pytest-cov
  - pytest-sugar
  - pytest-xdist
  - pytest-mock
  - s3fs >=2022.11.0
  - scipy
  - xarray>=2022.06
  - xarray-datatree
  - zarr>=2.12
  # - pytest-icdiff
