name: intake-esm-dev
channels:
  - conda-forge
  - nodefaults
dependencies:
  - cftime
  - codecov
  - fastprogress>=1.0.0
  - fsspec>=2022.7.0
  - gcsfs
  - h5netcdf>=0.8.1
  - intake>=0.6.6
  - ipython
  - matplotlib
  - netcdf4>=1.5.5,<1.6
  - pip
  - pooch
  - pre-commit
  - pydantic>=1.9
  - pytest
  - pytest-cov
  - pytest-sugar
  - pytest-xdist
  - pytest-mock
  - s3fs
  - scipy
  - xarray>=2022.06
  - xarray-datatree
  - zarr>=2.12
  # - pytest-icdiff
