name: intake-esm-dev
channels:
  - conda-forge
  - nodefaults
dependencies:
  - cftime
  - codecov
  - dask>=2024.12
  - fastprogress>=1.0.0
  - flaky >= 3.8.0
  - fsspec>=2024.12
  - gcsfs >=2024.12
  - h5netcdf>=0.8.1
  - intake>=2.0
  - ipython
  - matplotlib
  - netcdf4>=1.5.5
  - pandas>=2.1.0
  - polars>=1.24.0
  - pip
  - pooch
  - pre-commit
  - pydantic>=2.0
  - pydap
  - pytest
  - pytest-cov
  - pytest-sugar
  - pytest-xdist
  - pytest-mock
  - s3fs >=2024.12
  - scipy
  - xarray>=2024.10
  - xarray-datatree
  - zarr>=2.12,<3.0
  # - pytest-icdiff
