name: intake-esm-dev
channels:
  - conda-forge
  - nodefaults
dependencies:
  - cftime
  - codecov
  - fastprogress>= 1.0.0
  - fsspec>=2021.7.0
  - gcsfs
  - h5netcdf>=0.8.1
  - intake>=0.6.5
  - ipython
  - matplotlib
  - netcdf4>=1.5.5
  - pip
  - pooch
  - pre-commit
  - pydantic
  - pytest
  - pytest-cov
  - pytest-sugar
  - pytest-xdist
  - s3fs
  - scipy
  - xarray>=0.19,!=0.20.0,!=0.20.1
  - xarray-datatree
  - zarr >=2.5
  # - pytest-icdiff
