name: intake-esm-dev
channels:
  - conda-forge
  - nodefaults
dependencies:
  - python=*=*cp*
  - cftime
  - codecov
  - fastprogress>= 0.2.6
  - fsspec>=0.8.0
  - gcsfs
  - h5netcdf>=0.8.1
  - intake>=0.6.0
  - ipython
  - netcdf4>=1.5.5
  - pip
  - pooch
  - pre-commit
  - pytest
  - pytest-cov
  - pytest-icdiff
  - pytest-sugar
  - pytest-xdist
  - s3fs
  - scipy
  - xarray>=0.16.2
  - zarr >=2.5
  - pydantic
