name: CI
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "0 0 * * *" # Daily “At 00:00”
  workflow_dispatch: # allows you to trigger manually

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: python-${{ matrix.python-version }}
    if: github.repository == 'intake/intake-esm'
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.

      - name: set up conda environment
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ci/environment.yml
          init-shell: >-
            bash
          cache-environment: true
          cache-downloads: true
          post-cleanup: "all"
          create-args: |
            python=${{ matrix.python-version }}

      - name: Install intake-esm
        run: |
          python -m pip install -e . --no-deps --force-reinstall
          conda list

      - name: Run Tests
        run: |
          python -m pytest

      - name: Upload code coverage to Codecov
        uses: codecov/codecov-action@v4.0.0
        with:
          file: ./coverage.xml
          flags: unittests
          env_vars: OS,PYTHON
          name: codecov-umbrella
          fail_ci_if_error: false

  upstream-dev:
    name: upstream-dev
    if: github.repository == 'intake/intake-esm'
    runs-on: ubuntu-latest
    timeout-minutes: 30
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history for all branches and tags.

      - name: set up conda environment
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: ci/environment-upstream-dev.yml
          init-shell: >-
            bash
          cache-environment: true
          cache-downloads: true
          post-cleanup: "all"
          create-args: |
            python=3.12

      - name: Install intake-esm
        run: |
          python -m pip install -e . --no-deps --force-reinstall
          conda list

      - name: Run Tests
        run: |
          python -m pytest
